*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    max-width: 700px;
    height: 500px;
    margin: 0 auto;
}
.text{
    padding: 50px;
    text-align: center;

}
.input-field{
    text-align: center;
}
form input[type=text]
{
    width: 70%;
    padding: 8px;
}
form input[type = button]{
    padding: 8px;
    cursor: pointer;
    background-color: blue;
    border: none;
    outline: none;
    color: white;
}
.bot-cont {
    text-align: center;
    margin-top: 20px;
}
p{
    display: inline;
    margin-right: 60%;
}

.item {
    padding: 15px;
    background-color: aliceblue;
}
 i{
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: white;
    outline: none;
    font-size: 20px;
    border: none;
    outline: none;
    margin-right: 10px;
}
.check, .delete{
    display: inline;
    border: none;
}
.list1{
    margin-top: 5px;
}
